:root {
    --text-color: #e2dee3;
    --highlight-color: #f1f6f7;
    --text-color2: #a7a6c6;
    --link-color: #6584b5;
    --bg-color: #000000;
    --bg-color2: #343441;
    --bg-color3: #34344122;
    --bg-color4: #000000e8;
    --body-font: 'Kodchasan', sans-serif;
    --header-font: 'Amatic SC', sans-serif;
    --subheader-font: 'Economica', sans-serif;
}



body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: url(./images/hw-web-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    cursor: default;
    bottom: 0;
}



.link {
    color: var(--link-color);
    text-decoration: none;
    transition: 0.3s;
}
.link:hover {
    color: var(--highlight-color);
    transition: 0.3s;
}

.highlight {
    color: var(--highlight-color)
}



.content-container {
    max-width: 1400px;
    height: 1080px;
    overflow: hidden;
    margin: auto;
}



.nav-container {
    float: left;
    width: 305px;
    height: 100vh;
}
.nav-container img {
    z-index: 2;
    position: relative;
    left: 10px;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 305px;
    height: 50vh;
}
.nav-container ul {
    list-style-type: none;
    overflow: auto;
    text-align: center;
    z-index: 2;
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 23pt;
    padding: 0;
}
.nav-container li {
    margin: 70px 0px;
}
.nav-container a {
    text-decoration: none;
    color: var(--text-color2);
    transition: 0.3s;
}
.nav-container a:hover {
    color: var(--link-color);
    transition: 0.3s;
}
.nav-bg {
    background-color: var(--bg-color2);
    width: 205px;
    margin: 0px 50px;
    height: 100vh;
    -webkit-mask-image: linear-gradient(to bottom, transparent 10%, black 60%);
    mask-image: linear-gradient(to bottom, transparent 10%, black 90%);
    top: 0px;
    position: fixed;
}



.header {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 90px;
    color: var(--text-color);
    margin: 50px 0px 0px 325px;
}
.subheader {
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 30pt;
    margin-left: 330px;
}



.body-content {
    max-width: 1075px;
    height: calc(100vh - 159px);
    margin: 30px 0px 0px 305px;
    display: flex;
    flex-direction: column;
    background-image: url(./images/hw-web-bgopacity.png);
    background-repeat: no-repeat;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--bg-color2);
    scrollbar-width: thin;
}
.body-content::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg-color3);
    border-radius: 2px;
}
.body-content::-webkit-scrollbar-thumb {
    background-color: var(--bg-color2);
    border-radius: 2px;
}



.page-header {
    font-family: var(--header-font);
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.page-subheader {
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 21pt;
    text-align: center;
    margin-top: 10px;
}
.page-text {
    font-size: 12pt;
    text-align: left;
    align-self: center;
    margin: 20px 40px 0px;
}



.back-button {
    display: inline-block;
    float: right;
    padding: 10px 20px 0px 0px;
    font-size: 30px;
}



.updates {
    margin-bottom: 100px;
}
.update-block {
    background-color: var(--bg-color3);
    max-width: 1000px;
    padding: 20px;
    margin: 10px 0px;
}
.update-date {
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 19pt;
    padding-bottom: 20px;
}
.update-text {
    padding-bottom: 10px;
}



.illustration-masonry {
    columns: 5 150px;
    column-gap: 1rem;
    margin: 10px 20px 100px;
  }
.illustration-masonry div {
    width: 150px;
    background: #00000000;
    color: white;
    margin: 0 20px 10px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}



.tevdren-links {
    font-family: var(--subheader-font);
    font-size: 20pt;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.tevdren-links a {
    display: block;
    margin: 20px;
}
.tevdren-comics {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}
.tevdren-comiclink {
    text-align: center;
    padding-bottom: 20px;
}
.tevdren-comiclink img {
    background-color: var(--bg-color2);
    width: 150px;
    height: 150px;
    margin: 10px;
    display: block;
}
.tevdren-comiclink span {
    font-family: var(--subheader-font);
    font-size: 20pt;
    color: var(--text-color2);
    width: 150px;
}

.illustration-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-color4);
    z-index: 3;
}