:root {
    --text-color: #e2dee3;
    --highlight-color: #f1f6f7;
    --text-color2: #a7a6c6;
    --link-color: #6584b5;
    --bg-color: #000000;
    --bg-color2: #343441;
    --bg-color3: #34344122;
    --bg-color4: #000000e8;
    --bg-color5: #111115;
    --bg-color6: #343441e8;
    --body-font: 'Kodchasan', sans-serif;
    --header-font: 'Amatic SC', sans-serif;
    --subheader-font: 'Economica', sans-serif;
}



body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: url(./images/hw-web-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    cursor: default;
    bottom: 0;
    position: static;
}
button {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #00000000;
    cursor: pointer;
}
.link {
    color: var(--link-color);
    text-decoration: none;
    transition: 0.3s;
}
.link:hover {
    color: var(--highlight-color);
    transition: 0.3s;
}
@media only screen and (max-width: 750px) {
    .link {
        transition: 0.1s;
    }
    .link:hover {
        color: var(--link-color);
    }
    .link:active {
        color: var(--highlight-color);
        transition: 0.1s;
    }
    h1, h2, h3, h4, h5, h6 {
        z-index: 2;
    }
}
.highlight {
    color: var(--highlight-color)
}
.back-button {
    display: block;
    float: right;
    padding-right: 20px;
    font-size: 30px;
}
.back-button a {
    text-decoration: none;
    color: var(--link-color);
    transition: 0.3s;
}
.back-button a:hover {
    color: var(--highlight-color);
    letter-spacing: 2px;
    transition: 0.3s;
}
.loading {
    text-align: center;
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 20pt;
    position: relative;
    top: 25vh;
}



.content-container {
    max-width: 1400px;
    max-height: 100vh;
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
}



.deco-container {
    width: 1400px;
    max-height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}
.deco-1 {
    min-height: 100vh;
    width: 12px;
    float: left;
}
.deco-2 {
    min-height: 100vh;
    width: 12px;
    float: right;
    transform: rotate(180deg);
}
@media only screen and (max-width: 750px) {
    .deco-container {
        display: none;
    }
}


.header-link {
    text-decoration: none;
    color: var(--text-color);
}



.nav-container {
    float: left;
    width: 305px;
    max-height: 100vh;
    position: absolute;
}
.nav-container img {
    z-index: 2;
    position: relative;
    left: 10px;
}
.nav-links {
    display: flex;
    justify-content: center;
    width: 305px;
    max-height: 30vh;
    position: fixed;
    z-index: 2;
    top: 320px;
}
.nav-container ul {
    list-style-type: none;
    text-align: center;
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 23pt;
    padding: 0;
    margin: 0;
}
.nav-container li {
    margin: calc(100vh / 30) 0px;
}
.nav-container li a {
    text-decoration: none;
    color: var(--text-color2);
    transition: 0.3s;
}
.nav-container li a:hover {
    color: var(--link-color);
    letter-spacing: 2px;
    transition: 0.3s;
}
.nav-bg {
    background-color: var(--bg-color2);
    width: 205px;
    margin: 0px 50px;
    height: 100vh;
    -webkit-mask-image: linear-gradient(to bottom, transparent 10%, black 60%);
    mask-image: linear-gradient(to bottom, transparent 10%, black 90%);
    top: 0px;
    position: fixed;
}
@media only screen and (max-width: 750px) {
    .nav-container {
        float: none;
        width: 100%;
        height: 400px;
        max-height: 400px;
        min-height: 400px;
    }
    .nav-container img {
        height: 180px;
        width: 180px;
        left: -40px;
        top: -40px;
    }   
    .nav-links {
        justify-content: right;
        background-color: var(--bg-color6);
        top: 100px;
        right: 0;
        padding: 0 20px 0 0;
        width: 150px;
        max-height: max-content;
        display: none;
        z-index: 0;
    }
    .nav-container ul {
        text-align: right;
    }
    .nav-container li {
        margin: 30px 0;
    }
    .nav-container li a:hover {
        letter-spacing: normal;
        color: var(--text-color2);
    }
    .nav-container li a:active {
        color: var(--highlight-color);
    }
    .nav-bg {
        background-color: var(--bg-color5);
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 50%);
        mask-image: linear-gradient(to right, transparent 0%, black 50%);
        width: 100%;
        left: 0;
        height: 100px;
    }
}



.header {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 80px;
    color: var(--text-color);
    margin: 50px 0px 0px 325px;
    padding: 0;
}
.subheader {
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 25pt;
    margin: 0 0 0 330px;
    font-weight: lighter;
    padding: 0;
}
.nav-button {
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    font-size: 35pt;
    cursor: pointer;
    transition: 0.1s;
}
@media only screen and (max-width: 750px) {
    .body-header{
        width: calc(100vw - 130px);
        height: 100px;
        display: flex;
        position: fixed;
        top: 0;
        left: 130px;
        flex-direction: column;
    }
    .header {
        font-size: 30pt;
        float: left;
        margin: 0;
    }
    .subheader {
        font-size: 17pt;
        float: left;
        margin: 0;
        width: 50vw;
        line-height: 20px;
        opacity: 0.5;
    }
    .nav-button {
        display: block;
    }
}



.body-content {
    max-width: 1075px;
    height: calc(100vh - 159px);
    margin: 30px 0 0 305px;
    display: flex;
    flex-direction: column;
    background-image: url(./images/hw-web-bgopacity.png);
    background-repeat: no-repeat;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--bg-color2);
    scrollbar-width: thin;
}
.body-content::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg-color3);
    border-radius: 2px;
}
.body-content::-webkit-scrollbar-thumb {
    background-color: var(--bg-color2);
    border-radius: 2px;
}
@media only screen and (max-width: 750px) {
    .body-content {
        max-width: 100%;
        height: calc(100vh - 100px);
        margin: 100px 0 0 0;
        z-index: 1;
    }
}



.page-header {
    font-family: var(--header-font);
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0 0;
}
.page-subheader {
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 21pt;
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: lighter;
}
.page-text {
    font-size: 12pt;
    text-align: left;
    align-self: center;
    margin: 20px 40px 0px;
}
@media screen and (max-width: 750px) {
    .page-text {
        margin: 20px 40px 0px;
        text-align: justify;
        z-index: 1;
    }
}



.updates {
    margin-bottom: 100px;
}
.update-block {
    background-color: var(--bg-color3);
    max-width: 1000px;
    padding: 20px;
    margin: 10px 0px;
}
.update-date {
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 19pt;
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: lighter;
}
.update-text {
    padding: 0 0 10px 0;
    margin: 0;
}



.illustration-masonry {
    columns: 6 190px;
    column-gap: 1rem;
    margin: 10px 30px 100px 20px;
    transition: opacity 0.3s;
  }
.illustration-masonry button {
    min-width: 200px;
    background: #00000000;
    color: white;
    margin: 0;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.illustration-masonry img {
    max-width: 200px;
}
.illustration-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-color4);
    z-index: 3;
}
.illustration-modal-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.illustration-modal-image {
    max-height: 100vh;
    max-width: 100vw;
}
.close-modal {
    position: absolute;
    top: 30px;
    right: 30px;
    font-family: var(--subheader-font);
    font-size: 35px;
    text-shadow: 0px 0px 10px var(--bg-color), 0px 0px 20px var(--bg-color), 0px 0px 5px var(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
    cursor: pointer;
}
.close-modal:hover {
    color: var(--link-color);
    letter-spacing: 3px;
    transition: 0.3s;
}
@media only screen and (max-width: 750px) {
    .illustration-masonry {
        z-index: 1;
        columns: 3 140px;
        column-fill: balance;
        margin: 10px 20px 20px 20px;
    }
    .illustration-masonry button {
        min-width: 100px;
    }
    .illustration-masonry img {
        max-width: 150px;
    }
    .close-modal:hover {
        letter-spacing: normal;
        color: var(--text-color);
    }
    .close-modal:active {
        color: var(--link-color);
        transition: 0.1s;
    }
}



.tevdren-links {
    font-family: var(--subheader-font);
    font-size: 20pt;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.tevdren-links a {
    display: block;
    margin: 20px;
}
.tevdren-comics {
    display: flex;
    width: calc(100% - 20px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}
.tevdren-comiclink {
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
}
.tevdren-comiclink img {
    background-color: var(--bg-color2);
    width: 150px;
    height: 150px;
    margin: 10px;
    display: block;
}
.tevdren-comiclink h5, .tevdren-comiclink span {
    font-family: var(--subheader-font);
    font-size: 20pt;
    color: var(--text-color2);
    width: 150px;
    margin: auto;
    font-weight: lighter;
    min-height: 62px;
}
.tevdren-newcomic {
    animation: newcomic 3s ease-in-out infinite;
    -moz-animation: newcomic 3s ease-in-out infinite;
    -webkit-animation: newcomic 3s ease-in-out infinite;
}
@keyframes newcomic {
    0% {box-shadow: 0px 0px 1px 1px var(--highlight-color);}
    50% {box-shadow: 0px 0px 10px 5px var(--highlight-color);}
    100% {box-shadow: 0px 0px 1px 1px var(--highlight-color);}
}
@-moz-keyframes newcomic {
    0% {box-shadow: 0px 0px 1px 1px var(--highlight-color);}
    50% {box-shadow: 0px 0px 10px 5px var(--highlight-color);}
    100% {box-shadow: 0px 0px 1px 1px var(--highlight-color);}
}
@-webkit-keyframes newcomic {
    0% {box-shadow: 0px 0px 1px 1px var(--highlight-color);}
    50% {box-shadow: 0px 0px 10px 5px var(--highlight-color);}
    100% {box-shadow: 0px 0px 1px 1px var(--highlight-color);}
}
@media only screen and (max-width: 750px) {
    .tevdren-links {
        text-align: center;
        z-index: 1;
    }
    .tevdren-comics {
        margin: auto;
        z-index: 1;
    }
}

.comic-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-color4);
    z-index: 3;
}
.comic-modal-inner {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--bg-color2);
    scrollbar-width: thin;
}
.comic-modal-inner::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg-color3);
    border-radius: 2px;
}
.comic-modal-inner::-webkit-scrollbar-thumb {
    background-color: var(--bg-color2);
    border-radius: 2px;
}
.comic-modal-image {
    height: max-content;
    max-width: 100%;
}
@media only screen and (max-width: 750px) {
    .comic-modal-image {
        padding: 100px 0;
    }
}



.tevdren-ref-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tevdren-ref-column {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.tevdren-ref-block {
    text-align: center;
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 20pt;
    padding: 20px 0px;
    cursor: pointer;
}
.tevdren-ref-block p {
    margin: 0;
}
@media only screen and (max-width: 750px) {
    .tevdren-ref-container {
        z-index: 1;
    }
    .tevdren-ref-column {
        padding: 0;
    }
    .tevdren-ref-column img {
        width: 45vw;
    }
}
.ref-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-color4);
    z-index: 3;
}
.ref-modal-inner {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.carousel-container {
    align-self: center;
    display: flex;
}
.carousel-slide {
    text-align: center;
}
.carousel-slide img {
    max-width: 100%;
}
.carousel-number {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: var(--subheader-font);
    font-size: 35px;
    text-shadow: 0px 0px 10px var(--bg-color);
    color: var(--text-color);
}
.carousel-caption {
    font-size: 20pt;
    padding-top: 10px;
}
.carousel-prev, .carousel-next {
    align-self: center;
    padding: 20px;
    font-family: var(--subheader-font);
    color: var(--text-color2);
    font-size: 50pt;
    transform: scaleX(150%);
    transition: 0.3s;
}
.carousel-prev:hover {
    color: var(--highlight-color);
    transform: scaleX(200%) scaleY(150%) translateX(-10px);
}
.carousel-next:hover {
    color: var(--highlight-color);
    transform: scaleX(200%) scaleY(150%) translateX(10px);
}
@media only screen and (max-width: 750px) {
    .carousel-caption {
        font-size: 9pt;
    }
}



.about-links {
    font-family: var(--subheader-font);
    font-size: 20pt;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.about-link-block {
    margin: 20px;
    text-align: center;
}
.fa {
    padding-right: 10px;
}
.about-link-descrip {
    font-family: var(--body-font);
    color: var(--text-color2);
    font-size: 10pt;
    display: block;
    padding-top: 5px;
}
@media only screen and (max-width: 750px) {
    .about-links {
        flex-direction: column;
        justify-content: center;
        margin: 30px 0;
    }
    .about-link-block {
        margin: 10px 0;
    }
    .about-link-block .fa {
        padding: 0;
        margin: 0;
    }
}



.secret {
    position: fixed;
    top: 20px;
    right: 50px;
    font-size: 20pt;
}
.secret a {
    color: var(--bg-color2);
    text-decoration: none;
}
.hmm-body {
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    color: var(--text-color2);
}
.hmm-body span {
    position: absolute;
    bottom: 50px;
    right: 50px;
}
@media only screen and (max-width: 750px) {
    .secret {
        z-index: -2;
    }
}